/* TOPBAR */
.uniph-top-area {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 50px;
    z-index: 999;
    font-size: 10px;
    background-color: #9FA8AD;
}

/* SIDEBAR */
.uniph-side-area {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 998;
    transition: margin-left 0.5s;
    overflow-y: auto;

    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
}

.uniph-side-area.is-toggled {
    margin-left: 0px;
}

@media (min-width: 960px) {
    .uniph-side-area {
        margin-left: 0px;
    }

    .uniph-side-area.is-toggled {
        margin-left: -211px;
    }
}

/* CONTENT */
.uniph-content-area {
    padding: 0 15px;
    margin-top: 50px;
    transition: margin-left 0.5s;
}

@media (min-width: 960px) {
    .uniph-content-area {
        margin-left: 210px;
    }

    .uniph-content-area.is-toggled {
        margin-left: 0;
    }
}

#logo-uniph {
    margin-top: 5px;
    margin-left: 5px;
    width: 85px;
    height: 39px;
}

body > header > div > div > div:nth-child(2) > h1 {
    text-align: center;
}